* {
    margin: 0;
    font-family: sans-serif;
    color: #7A7A7A;
}

#nav-bar{
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

#header-logo {
    padding-left: 100px;
}
#nav-menu {
    align-self: center;
}
#menu {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    font-weight: 100;
}

.menu-item {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}

#ham-menu-icon {
    display: none;
}

#banner-section {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: "leftArea rightArea";
    padding:100px;
    padding-top: 60px;
}

#left-banner-section {
    grid-area: leftArea;
    padding: 100px;
    padding-top: 50px;
}

#right-banner-section {
    grid-area: rightArea;
    display: flex;
    justify-content: center;
}

.big-title {
    font-weight: 100;
    font-size: 40px;
}

button {
    padding:30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border: none;
}

.dark-btn {
    background-color: #666666;
    color: white;
}

.light-btn { 
    background-color: #CCC;
}

#intro-title {
    padding-bottom: 70px;
}

#intro-content {
    padding-bottom: 50px;
}