* {
    margin: 0;
    font-family: sans-serif;
    color: #7A7A7A;
}

#nav-bar{
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

#header-logo {
    padding-left: 100px;
}
#nav-menu {
    align-self: center;
}
#menu {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    font-weight: 100;
}

.menu-item {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}

#ham-menu-icon {
    display: none;
}

#banner-section {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: "leftArea rightArea";
    padding:100px;
    padding-top: 60px;
}

#left-banner-section {
    grid-area: leftArea;
    padding: 100px;
    padding-top: 50px;
}

#right-banner-section {
    grid-area: rightArea;
    display: flex;
    justify-content: center;
}

.big-title {
    font-weight: 100;
    font-size: 42px;
    padding-bottom: 10px;
}

button {
    padding:30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border: none;
}

.dark-btn {
    background-color: #666666;
    color: white;
}

.light-btn { 
    background-color: #CCC;
}

#intro-title {
    padding-bottom: 50px;
}

#intro-content {
    padding-bottom: 50px;
}

#feature-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "featureOne featureTwo featureThree";
    padding: 100px;
    border-top: solid #CCC thin;
    border-bottom: solid #CCC thin;
    grid-column-gap: 100px;
}

#feature-one {
    grid-area: featureOne;
    text-align: center;
}

#feature-two {
    grid-area: featureTwo;
    text-align: center;   
}

#feature-three {
    grid-area: featureThree;
    text-align: center;
}

h2 {
    line-height: 100px;
}

.round-icon {
    border: solid thick gray;
    border-radius: 50%;
    padding: 10px;
}

#mid-section {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    border-bottom: solid thin #CCC;
}

#left-mid-section {
    width: 50%;
    padding: 70px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#right-mid-section {
    width: 50%;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
}

.img-border {
    border: solid thin gray;
}

#slider-section {
    padding: 100px;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas: "leftArrow sliderContent rightArrow";
    border-bottom: solid thin #CCC;
}

#left-arrow {
    grid-area: leftArrow;
    display: flex;
    align-self: center;
    justify-content: center;
}

#right-arrow {
    grid-area: rightArrow;
    display: flex;
    align-self: center;
    justify-content: center;
}

#slider-content {
    grid-area: sliderContent;
    padding: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hr-centered {
    margin-left: 35%;
    margin-right: 35%;
}

#get-in-touch-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "leftSection rightSection";
    padding: 100px;
    border-bottom: solid thin #CCC;
}

#left-section {
    grid-area: leftSection;
}

#right-section {
     grid-area: rightSection;
     display: flex;
     justify-content: center;
}

.form-layer {
    padding: 10px;
}

input[type=text], input[type=email], textarea {
    padding: 10px;
    border: solid thin #CCC;
} 
