* {
    margin: 0;
    font-family: sans-serif;
    color: #7A7A7A;
}

#nav-bar{
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

#header-logo {
    padding-left: 100px;
}
#nav-menu {
    align-self: center;
}
#menu {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    font-weight: 100;
}

.menu-item {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}

#ham-menu-icon {
    display: none;
}